#container-principal {
  background: url("imagens/fundo-inicial.jpeg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position-y: -300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#container-principal h1 {
  background-color: #8a2424;
  padding: 10px;
  border-radius: 10px;
}
#container-principal .personagens-container {
  display: flex;
  gap: inherit;
}
#container-principal .personagem-container {
  width: 260px;
  height: 410px;
  border: 2px solid #8a2424;
  cursor: pointer;
  border-radius: 20px;
}
#container-principal .personagem-container img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
#container-principal .janela-atributos {
  position: absolute;
  width: 82%;
  height: 80%;
  background-color: #8a2424;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#container-principal .botao-comecar {
  cursor: pointer;
  padding: 14px;
  border-radius: 10px;
  z-index: 2;
  background-color: aquamarine;
  color: black;
  font-size: 20px;
  overflow: hidden;
  position: relative;
}
#container-principal .botao-comecar:hover {
  background-color: rgb(57, 255, 189);
}
#container-principal .janela-atributos .botao-sair {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
#container-principal .janela-atributos .habilidades-atributos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
}
#container-principal .janela-atributos .habilidades-atributos::-webkit-scrollbar {
  display: none;
}
#container-principal .janela-atributos .habilidades-atributos .habilidade {
  display: flex;
  width: 280px;
  flex-direction: column;
  gap: 4px;
  background-color: rgb(105, 11, 11);
  padding: 10px;
  border-radius: 10px;
}
#container-principal .janela-atributos .habilidades-atributos .habilidade .habilidade-titulo {
  font-size: 20px;
  font-weight: bold;
  color: aquamarine;
}
#container-principal .janela-atributos .habilidades-atributos .habilidade p {
  color: beige;
}
#container-principal .janela-atributos .status-atributos {
  display: flex;
  gap: 20px;
}
#container-principal .janela-atributos .status-atributos p {
  height: 26px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
}
#container-principal .janela-atributos .status-atributos p img {
  height: 100%;
}
#container-principal .janela-atributos .texto-atributos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#container-principal .janela-atributos .texto-atributos h2 {
  font-size: 30px;
  text-transform: capitalize;
}
#container-principal .janela-atributos .texto-atributos h3 {
  color: rgb(219, 218, 218);
  font-size: 20px;
}
#container-principal .janela-atributos .imagem-atributos {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container-principal .janela-atributos .imagem-atributos img {
  height: 100%;
  width: 440px;
  border-radius: 10px;
}
.container-historia {
  display: none;
}
#container-fim {
  display: none;
  align-items: center;
  justify-content: center;
  background-image: url("imagens/fundo-inicial.jpeg");
  width: 100%;
  height: 100vh;
}
#container-fim #container-mensagem {
  background-color: #8a2424;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
}
#container-fim #container-mensagem button {
  background-color: aquamarine;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  color: black;
}